/* my_portfolio/static/css/style.css */


/* Basic Reset */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav {
    background: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #eee;
    margin-top: 2rem;
}

.update-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}